<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiuzq.jz.mapper.ColumnMapper" >
  <resultMap id="BaseResultMap" type="com.qiuzq.jz.model.Column" >
    <constructor >
      <idArg column="column_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="column_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="horizontal" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    column_id, column_name, horizontal, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_column
    where column_id = #{columnId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_column
    where column_id = #{columnId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qiuzq.jz.model.Column" >
    insert into t_column (column_id, column_name, horizontal, 
      remark)
    values (#{columnId,jdbcType=BIGINT}, #{columnName,jdbcType=VARCHAR}, #{horizontal,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qiuzq.jz.model.Column" >
    insert into t_column
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="columnId != null" >
        column_id,
      </if>
      <if test="columnName != null" >
        column_name,
      </if>
      <if test="horizontal != null" >
        horizontal,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="columnId != null" >
        #{columnId,jdbcType=BIGINT},
      </if>
      <if test="columnName != null" >
        #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="horizontal != null" >
        #{horizontal,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiuzq.jz.model.Column" >
    update t_column
    <set >
      <if test="columnName != null" >
        column_name = #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="horizontal != null" >
        horizontal = #{horizontal,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where column_id = #{columnId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiuzq.jz.model.Column" >
    update t_column
    set column_name = #{columnName,jdbcType=VARCHAR},
      horizontal = #{horizontal,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where column_id = #{columnId,jdbcType=BIGINT}
  </update>
</mapper>